<!DOCTYPE html>
<html>
<head>
    <title>Access Logs</title>
</head>
<body>
    <h1>Access Logs</h1>
    <table>
        <thead>
            <tr>
                <th>Shortened Link</th>
                <th>Accessed At</th>
                <th>IP Address</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <td><a href="{{base_url}}/{{ log.link.short_url_hash }}" target="_blank">{{ log.link.short_url_hash }}</a></td>
                    <td>{{ log.accessed_at }}</td>
                    <td>{{ log.ip_address }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
