{% extends 'smallurl/base.html' %}

{% block content %}
<body class="container mt-5">
    <h1>Access Logs</h1>
    
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Shortened Link</th>
                <th scope="col">Accessed At</th>
                <th scope="col">IP Address</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <td><a href="{{ log.link.short_url }}" target="_blank">{{ log.link.short_url }}</a></td>
                    <td>{{ log.accessed_at }}</td>
                    <td>{{ log.ip_address }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
