<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>smallurl</title>
</head>
<body>
    <p>Your shortened link: <a href="{{ short_url }}" target="_blank">{{ short_url }}</a></p>

    <!-- Embed the YouTube video using the extracted video ID -->
    {% if youtube_video_id %}
        <iframe width="640" height="360" src="https://www.youtube.com/embed/{{ youtube_video_id }}" frameborder="0" allowfullscreen></iframe>
    {% else %}
        <p>Invalid YouTube video URL</p>
    {% endif %}
    </br>
    
    <a href="{% url 'index' %}">Shorten Another Link</a>
</body>
</html>
